*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-curso {
    background: azure;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.lista-curso {
    background-color: azure;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px grey;
    
    & .curso__texto {
        margin-bottom: 15px;
        
    }
}