*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --altura-lista: 100vh;
}

.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    & .lista {
        padding: 12.5vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--altura-lista);
        width: 100%;
    }
}

.titulo-curso {
    background: azure;
    font-size: 48px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 0px 5px grey;
    background: 
            linear-gradient(to right, grey, transparent 2%),
            linear-gradient(to left, grey, transparent 5%)
            azure;
    padding: 18px;
    width: 500px;
}

.lista-curso {
    background-color: azure;
    text-align: center;
    box-shadow: -5px 0px 5px grey;
    height: 100%;
    width: 500px;
    display: flex;
    padding: 18px;
    justify-content: center;
    flex-direction: column;
    background: 
            linear-gradient(to left, grey, transparent 2%),
            linear-gradient(to right, grey, transparent 5%)
            azure;
    
    & .curso__texto {
        margin-bottom: 15px;
        
    }
    & .curso__titulo {
        font-size: 24px;
    }
}